:root {

}

html {
    font-size: 85%;
}

body {
    line-height: 1.5;
}

main {
    width: 100%;
    margin: 2rem auto;
    height: 95%;
}

h2 {
    font-size: 3.5rem;
}

.box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 30%;
}

.heart-button {
    
}