:root {
    --dark-background: #121212;
    --dark-font: whitesmoke;
    --light-background: var(--dark-font);
    --light-font: var(--dark-background);
}

html {
    font-size: 85%;
}

body {
    line-height: 1.5;
    font-family: monospace;
}

main {
    width: 100%;
    margin: 2rem auto;
    height: 95%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
}

.headerContainer {
    display: flex;
    justify-content: flex-end;
}

.headerContainer2 {
    display: flex;
    justify-content: space-between;
}
 
  /* Light Mode */
.light {
    background-image: url(../pics/light.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--dark-background);
}

.light h1 {
    color: var(--dark-background);
}

.light .blogArray-title h3 {
    background-color: var(--dark-background);
    color: var(--dark-font);
}

.light .blogArray-title p {
    background-color: var(--dark-background);
    color: var(--dark-font);
}

.light #sun-button {
    border: none;
    color: rgb(214, 68, 10);
    background-color: transparent;
    font-size: 50px; 
}

.light #back-button {
    border: none;
    background-color: transparent;
    font-size: 35px;
}

.light label {
    color: var(--dark-background);
    font-size: 18px;
}

.light input, .light textarea {
    background-color: var(--dark-font);
    color: var(--dark-background);
    font-size: 20px;
}

.light #submit {
    background-color: var(--dark-background);
    color: var(--dark-font);
    font-size: 18px;
}

/* Dark Mode */
.dark {
    background-image: url(../pics/dark\ sans-stars.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--dark-font)
}

.dark h1 {
    color: var(--dark-font);
}

.dark .blogArray-title h3 {
    background-color: var(--dark-font);
    color: var(--dark-background);
}

.dark .blogArray-title p {
    background-color: var(--dark-font);
    color: var(--dark-background);
}

.dark #sun-button {
    border: none;
    background-color: transparent;
    font-size: 50px; 
}

.dark #back-button {
    border: none;
    background-color: transparent;
    font-size: 35px;
}

.dark label {
    color: var(--dark-font);
    font-size: 20px;
}

.dark input, .dark textarea {
    background-color: var(--dark-background);
    color: var(--dark-font);
    font-size: 20px;
}

.dark #submit {
    background-color: darkslategray;
    color: var(--dark-font);
    font-size: 18px;
}